@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "tailwindcss";
@source "../../.flowbite-react/class-list.json";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "flowbite-typography";

@theme {
  --color-customcolor: #3b82f6;
  --color-primary: #1e40af;
  --color-secondary: #64748b;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --color-assistant-1: #0D1B2A;
  --color-assistant-2: #1B263B;
  --color-assistant-3: #415A77;
  --color-assistant-4: #778DA9;
  --color-assistant-5: #E0E1DD;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

